@import 'variables';

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: $border-radius-lg;
  padding: $padding-lg;
  background-color: $color-blue-dark-2;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: $color-blue-dark-1;
  }

  &:focus, &:active {
    background-color: $color-blue-dark-2;
  }

  img {
    transform: rotate(90deg);
    width: 48px;
    height: 48px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

@media (max-width: 992px) {
  .scroll-to-top {
    padding: calc($padding + $padding-md);

    img {
      width: 36px;
      height: 36px;
    }
  }
}
